@using Orchard.Webshop.ViewModels
@{ 
    var addresses = (AddressesViewModel)Model.Addresses;

    Style.Require("Orchard.Webshop.Common");
}
<h2>Address Details</h2>
<p>@T("Please provide us with your billing address and shipping address. If both addresses are the same, then you only need to provide us with your invoice address.")</p>

@using (Html.BeginFormAntiForgeryPost(Url.Action("SelectAddress", "Checkout", new { area = "Orchard.Webshop" })))
{
    <article class="form">
        @Html.EditorFor(m => addresses.InvoiceAddress)
        @Html.EditorFor(m => addresses.ShippingAddress)

        <footer class="commands">
            <ul>
                <li class="align left"><a href="#">@T("Cancel")</a></li>
                <li class="align right"><button type="submit">@T("Next")</button></li>
            </ul>
        </footer>
    </article>
}